<script src="{{site.baseurl}}/js/vendor/jquery-1.10.2.min.js"></script>
<script src="{{site.baseurl}}/js/vendor/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/vendor/jquery-ui-1.10.0.custom.min.js"></script>

<script src="{{site.baseurl}}/js/plugins/custom_checkbox_and_radio.js"></script>
<script src="{{site.baseurl}}/js/plugins/custom_radio.js"></script>
<script src="{{site.baseurl}}/js/plugins/bootstrap-tooltip.js"></script>
<script src="{{site.baseurl}}/js/plugins/jquery.placeholder.js"></script>
<script src="{{site.baseurl}}/js/plugins/jquery.tagsinput.js"></script>
<script src="{{site.baseurl}}/js/plugins/jquery.sequence-min.js"></script>
<script src="{{site.baseurl}}/js/plugins/jquery.magnificpopup.js"></script>

<script src="{{site.baseurl}}/js/main.js"></script>
<script src="{{site.baseurl}}/js/home.js"></script>

<script>
  // var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  // (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  // g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  // s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
